<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymleaf.org"
	th:replace="base::Layout(~{::section})">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<section>
		<div class="continer p-5">
			<p class="text-center fs-3 mt-4 fw-bold text-primary">Admin Dashboard</p>
			<div class="row p-5">
				<div class="col-md-4 p-2">
					<a href="/admin/add-product" class="text-decoration-none">
						<div class="card card-sh">
							<div class="card-body text-center text-primary">
								<i class="fa-solid fa-square-plus fa-3x"></i>
								<h4>Add Product</h4>
							</div>
						</div>
					</a>
				</div>

				<div class="col-md-4 p-2">
					<a href="/admin/category" class="text-decoration-none">
						<div class="card card-sh">
							<div class="card-body text-center text-warning">
								<i class="fa-solid fa-layer-group fa-3x"></i>
								<h4>Category</h4>
							</div>
						</div>
					</a>
				</div>

				<div class="col-md-4 p-2">
					<a href="/admin/products" class="text-decoration-none">
						<div class="card card-sh">
							<div class="card-body text-center text-success">
								<i class="fa-solid fa-table fa-3x"></i>
								<h4>View Product</h4>
							</div>
						</div>
					</a>
				</div>

				<div class="col-md-4 p-2">
					<a href="#" class="text-decoration-none">
						<div class="card card-sh">
							<div class="card-body text-center text-warning">
								<i class="fa-solid fa-box-open fa-3x"></i>
								<h4>Orders</h4>
							</div>
						</div>
					</a>
				</div>

				<div class="col-md-4 p-2">
					<a href="#" class="text-decoration-none">
						<div class="card card-sh">
							<div class="card-body text-center text-primary">
								<i class="fa-solid fa-circle-user fa-3x"></i>
								<h4>Users</h4>
							</div>
						</div>
					</a>
				</div>

				<div class="col-md-4 p-2">
					<a href="#" class="text-decoration-none">
						<div class="card card-sh">
							<div class="card-body text-center text-danger">
								<i class="fa-solid fa-user-shield fa-3x"></i>
								<h4>Add Admin</h4>
							</div>
						</div>
					</a>
				</div>

			</div>
		</div>
	</section>
</body>
</html>