<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymleaf.org"
		th:replace="base::Layout(~{::section})">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
		<section>
				<div class = "container-fluid bg-primary p-5 mt-5">
						<div class="row">
								<div class="col-md-8  offset-md-2">
										<form>
												<div class="input-group">
														<input type="text" class="form-control" name="ch">
														<button class="btn btn-light text-dark ms-3 col-md-2" ><i class="fa-solid fa-magnifying-glass"></i>Search</button>
												</div>
										</form>
								</div>
						</div>
				</div>
				<div class="container-fluid mt-1 mb-1">
						<div class="row">
								<div class="col-md-2">
										<div class="card shadow p-3 mb-5 bg-body-tertiary rounded">
										<div class="list-group">
												<a href="#" class="list-group-item list-group-item-action active" aria-current="true">Categories</a>
												<a href="#" class="list-group-item list-group-item-action">Electronics</a>
												<a href="#" class="list-group-item list-group-item-action">Mobile Phone</a>
												<a href="#" class="list-group-item list-group-item-action">Groceries</a>
												<a href="#" class="list-group-item list-group-item-action">Cloth's</a>
										</div>
										</div>
								</div>
								<div class="col-md-10">
										<div class="card shadow p-3 mb-5 bg-body-tertiary rounded">
												<div class="card-body">
														<p class="fs-3 text-center">Products</p>
												</div>
												<div class="row">
														<div class="col-md-3 mt-1">
																<div class="card ">
																		<div class="card-body text-center">
																				<img alt="" src="img/product_img/laptop.jpg" width="100%" height="150px">
																				<p class="fs-5 text-center">Laptop</p>
																				<div class="row text-center">
																						<p class="fs-6 fw-bold">&#8377; 500
																								<span class="fs-6 text-success">20% off</span>
																						</p>
																						<a href="/product" class="btn bg-primary col-md-6 offset-3 text-white">View Details</a>
																				</div>
																		</div>
																</div>
														</div>
														<!-- Below To be deleted after backend implementation -->
														<div class="col-md-3 mt-1">
																<div class="card ">
																		<div class="card-body text-center">
																				<img alt="" src="img/product_img/laptop.jpg" width="100%" height="150px">
																				<p class="fs-5 text-center">Laptop</p>
																				<div class="row text-center">
																						<p class="fs-6 fw-bold">&#8377; 500
																								<span class="fs-6 text-success">20% off</span>
																						</p>
																						<a class="btn bg-primary col-md-6 offset-3 text-white">View Details</a>
																				</div>
																		</div>
																</div>
														</div>
														<div class="col-md-3 mt-1">
																<div class="card ">
																		<div class="card-body text-center">
																				<img alt="" src="img/product_img/laptop.jpg" width="100%" height="150px">
																				<p class="fs-5 text-center">Laptop</p>
																				<div class="row text-center">
																						<p class="fs-6 fw-bold">&#8377; 500
																								<span class="fs-6 text-success">20% off</span>
																						</p>
																						<a class="btn bg-primary col-md-6 offset-3 text-white">View Details</a>
																				</div>
																		</div>
																</div>
														</div>
														<div class="col-md-3 mt-1">
																<div class="card ">
																		<div class="card-body text-center">
																				<img alt="" src="img/product_img/laptop.jpg" width="100%" height="150px">
																				<p class="fs-5 text-center">Laptop</p>
																				<div class="row text-center">
																						<p class="fs-6 fw-bold">&#8377; 500
																								<span class="fs-6 text-success">20% off</span>
																						</p>
																						<a class="btn bg-primary col-md-6 offset-3 text-white">View Details</a>
																				</div>
																		</div>
																</div>
														</div>
														<div class="col-md-3 mt-1">
																<div class="card ">
																		<div class="card-body text-center">
																				<img alt="" src="img/product_img/laptop.jpg" width="100%" height="150px">
																				<p class="fs-5 text-center">Laptop</p>
																				<div class="row text-center">
																						<p class="fs-6 fw-bold">&#8377; 500
																								<span class="fs-6 text-success">20% off</span>
																						</p>
																						<a class="btn bg-primary col-md-6 offset-3 text-white">View Details</a>
																				</div>
																		</div>
																</div>
														</div>
														<div class="col-md-3 mt-1">
																<div class="card ">
																		<div class="card-body text-center">
																				<img alt="" src="img/product_img/laptop.jpg" width="100%" height="150px">
																				<p class="fs-5 text-center">Laptop</p>
																				<div class="row text-center">
																						<p class="fs-6 fw-bold">&#8377; 500
																								<span class="fs-6 text-success">20% off</span>
																						</p>
																						<a class="btn bg-primary col-md-6 offset-3 text-white">View Details</a>
																				</div>
																		</div>
																</div>
														</div>
														<div class="col-md-3 mt-1">
																<div class="card ">
																		<div class="card-body text-center">
																				<img alt="" src="img/product_img/laptop.jpg" width="100%" height="150px">
																				<p class="fs-5 text-center">Laptop</p>
																				<div class="row text-center">
																						<p class="fs-6 fw-bold">&#8377; 500
																								<span class="fs-6 text-success">20% off</span>
																						</p>
																						<a class="btn bg-primary col-md-6 offset-3 text-white">View Details</a>
																				</div>
																		</div>
																</div>
														</div>
		
														<!-- Above To be deleted after backend implementation -->
												</div>												
										</div>
								</div>
						</div>
				</div>
		</section>
</body>
</html>